{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>My Chat App</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
    <!-- <script>
      var ws = new WebSocket("ws://localhost:8000/ws/");
      ws.onmessage = function(event) {
        var data = JSON.parse(event.data);
        if (data.type == "connection_request") {
          alert(data.message);
        }
      };
    </script> -->
  </head>
<body>
    <h1>Welcome to Chat App</h1>
    {% if user.is_authenticated %}
      <p>You are logged in as {{ user.full_name }} from {{ user.country }}
      <a href="{% url 'logout-user' %}">logout</a></p>
        {% if other_user %}
          <p>You are alread in connection with {{other_user}}</p>
          
          <a href="{% url 'continue_connect' %}">continue the connection</a>
          <a href="{% url 'disconnect' %}">Disconnect</a>
        
        {% else %}
            {% if user.is_online %}
              <p>You are currently online</p>
              
                <a href="{% url 'connect' %}">Connect with another user</a>
                {% if message %}
                <p>{{ message }}</p>
                {% endif %}
              <a href="{% url 'toggle_online_status' %}">Go Offline</a>
            {% else %}
              <a href="{% url 'toggle_online_status' %}">Go Online</a>
            {% endif %}
        {% endif %}
    {% else %}
      <p><a href="{% url 'signup' %}">Sign up</a> or <a href="{% url 'login' %}">log in</a> to use the chat app.</p>
    {% endif %}
</body>
</html>

